@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.post {
  width: 750px;
  background: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.date {
  font-size: 12px;
  color: #777;
}

.post-content {
  font-size: 14px;
  color: #333;
  margin-bottom: 16px;
}

.post-image {
  display: flex;
  width: 50%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
  background: #f1f1f1;
  color : #000000;
  width: 100%;
}

.like {
  font-weight: bold;
  width: 120px;
  border-radius: 13px;

}
.not-like {
  font-weight: normal;
  width: 120px;
  border-radius: 13px;
}

.share{
  width: 120px;
  border-radius: 13px;
}

.comments{
  border-radius: 13px;
  color: #000000;
  width: 120px;
}

.comments-Dialog{
  width: 100%;
  border-radius: 13px;
  color: #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.white-box {
  width: 50%;
  height: 30%;
  flex-direction: column;
  background-color: #d3cfcf48;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 13px;
  color: #000000;
}

.button-white {
  border-radius: 15px;
  border: 2px solid #000000;
  width: 70%;
  height: 14%;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 23px;
}

